[include mainsail.cfg]
[include ebbcan.cfg]
[include nozzle_scrub.cfg]
[include KlipperScreen.conf]
[include config/*]

[output_pin caselight]
# Chamber Lighting - HE2 Connector (Optional)
pin: PA3
pwm:true
shutdown_value: 0
value:0.5
cycle_time: 0.01

#####################################################################
# 	Probe
#####################################################################

[probe]
pin: ^EBBCan:gpio22
x_offset: 0
y_offset: 0
#z_offset: 0
speed: 10.0
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.006
samples_tolerance_retries: 3

activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}

[safe_z_home]
home_xy_position:150,150
speed:100
z_hop:5

[z_tilt_ng]
##  Use Z_TILT_ADJUST to level the bed .
##  z_positions: Location of toolhead
## Uncomment below for 300mm build
#z_positions:
#   -50, 18
#   150, 348
#   350, 18
## moved the points slightly because it was hitting the lead screw at y = 5 when homing after z_tilt_adjust
points:
   30, 30
   150, 245
   270, 30
extra_points:
   30, 5
   120, 230
   270, 5
##--------------------------------------------------------------------
speed: 200
horizontal_move_z: 15
retries: 5
retry_tolerance: 0.0075

[bed_mesh]
speed: 200
horizontal_move_z: 5
mesh_min: 10,10
mesh_max: 290,290
probe_count: 9,9
algorithm: bicubic
bicubic_tension: 0.2


[gcode_macro LEVEL_IT]
gcode:
  G28
  Z_TILT_ADJUST
  G28

#####################################################################
# 	Bed Heater
#####################################################################

[heater_bed]
heater_pin: PA1
sensor_type: Generic 3950
sensor_pin: PB1
max_power: 1.0
min_temp: 0
max_temp: 120

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = -1.537
#*#
#*# [heater_bed]
#*# pid_version = 1
#*# pid_target = 100.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 59.111
#*# pid_ki = 2.825
#*# pid_kd = 309.227
#*#
#*# [extruder]
#*# pid_version = 1
#*# pid_target = 245.00
#*# pid_tolerance = 0.0200
#*# control = pid
#*# pid_kp = 37.306
#*# pid_ki = 4.168
#*# pid_kd = 83.469
#*#
#*# [z_tilt_ng]
#*# z_offsets = -0.000509, -0.005509, -0.003843
#*# z_positions = -48.549443, 14.463886
#*# 	149.125395, 340.854437
#*# 	351.005517, 13.940912
