# Fan
[multi_pin controller_fans]
pins: PF9,PF6

[controller_fan controller_fan]
pin: multi_pin:controller_fans
max_power: 0.4
kick_start_time: 0.5
#header: heater_bed
stepper: stepper_x,stepper_y,stepper_z,stepper_z1,stepper_z2

[fan_generic nevermore]
pin: PF7
